*.o
*.a
*.pyc
*~
*.swp
.*
*.tmp
*.old
cache/
.build/
chroot/
binary/
build.log
chroot.packages.install
chroot.packages.live
binary.contents
binary.packages
binary.img
config/binary
config/bootstrap
config/chroot
config/common
config/source
